[data-permission]{
	display: none;
	padding: 4px;
}
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}
.text-center{text-align: center !important;}
.laytable-cell-1-1,
.laytable-cell-1-2,
.laytable-cell-1-3,
.laytable-cell-1-4,
.laytable-cell-1-5,
.laytable-cell-1-6,
.laytable-cell-1-7,
.laytable-cell-1-8,
.laytable-cell-1-9,
.laytable-cell-1-10,
.laytable-cell-1-11,
.laytable-cell-1-12,
.laytable-cell-1-13{margin-left: -7px !important;}
/*color*/
.font-blue{color:#1E9FFF !important;}
/*size*/
.font-14px{font-size: 14px !important;}
.font-16px{font-size: 16px !important;}
.font-18px{font-size: 18px !important;}
.font-20px{font-size: 20px !important;}
.font-44px{font-size: 44px !important;}
/*margin*/
.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}

.ml10{margin-left: 10px !important;}
.ml20{margin-left: 20px !important;}
.ml30{margin-left: 30px !important;}
.ml40{margin-left: 40px !important;}

.mr10{margin-right: 10px !important;}
.mr20{margin-right: 20px !important;}
.mr30{margin-right: 30px !important;}
.mr40{margin-right: 40px !important;}

.pt0{padding-top: 0px !important;}
.pl0{padding-left: 0px !important;}
.pr0{padding-right: 0px !important;}
.pb0{padding-bottom: 0px !important;}

.mt0{margin-top: 0px !important;}
.ml0{margin-left: 0px !important;}
.mr0{margin-right: 0px !important;}
.mb0{margin-bottom: 0px !important;}
/*utils*/
.pointer{cursor: pointer !important;}
/*reset*/
.layui-breadcrumb a:hover{color:#1E9FFF !important;}
.layui-table-body{overflow:hidden; overflow-y: auto !important;}
.layui-form-select dl dd.layui-this,
.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this{background-color: #1E9FFF !important;}
.layui-refresh{line-height:1.6em;margin-top:3px;padding-top:5px;float:right}
.layui-icon{font-size: 20px;}
.layui-laypage .layui-laypage-curr .layui-laypage-em{background-color: #1E9FFF;}
.layui-btn{background-color: #1E9FFF;}
.layui-btn-danger{background-color: #FF5722;}
.layui-btn-primary {
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
}
.layui-form-label{width: 100px !important;}
/*new*/
.info-box {
    height: 85px;
    background-color: white;
    background-color: #ecf0f5;
}
.info-box .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 85px;
    width: 85px;
    text-align: center;
    font-size: 45px;
    line-height: 85px;
    background: rgba(0, 0, 0, 0.2);
}
.info-box .info-box-content {
    padding: 5px 10px;
    margin-left: 85px;
}
.info-box .info-box-content .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.info-box .info-box-content .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.layui-input-middle{width: 40% !important;}
.layui-form-middle{
		width: 70% !important;
		margin-left: 15% !important;
}
.layui-form-middle .layui-form-item .layui-input-middle{
	width: 60% !important;
}

.layui-form-middle .layui-form-item .layui-input-big{
	width: 70% !important;
}

@media screen and (max-width: 600px) {
    .layui-form-middle{
		width: 90% !important;
		margin-left: 5% !important;
	}
	.layui-input-middle{width: 50% !important;}
	.layui-form-middle .layui-form-item .layui-input-middle{
		width: 50% !important;
	}
	
	.layui-form-middle .layui-form-item .layui-input-big{
		width: 50% !important;
	}
}

@media screen and (max-width: 600px) {
    .layui-nav-top-info{
    padding: 0px !important;
	}
}

@media screen and (max-width: 700px) {
	.layui-form-middle .layui-form-item .layui-input-big{
		width: 60% !important;
	}
}
/*UM*/
.edui-modal{top: 0px !important;}
#edui-link-Jtarget{display: inline !important }
.edui-modal-footer {
    position: fixed !important;
    top: 44px !important;
    margin-left: 444px !important;
}
.edui-tab-nav{height: 33px !important;}
